body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

nav {
    margin: 30px;
}

.container {
    margin: 30px;
}

.red {
    background-color: red;
    color: white;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}