body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

#currentCity {
    padding-top: 2.5px;
}

.previous-locations {
    padding-top: 7px;
    padding-left: 50px;
}

.previous-locations p {
    padding-right: 30px;
    
}

.past {
    padding-left: 10px;
    color: #E5E5E5;
}

nav {
    margin: 15px 30px 30px 30px;
}

.container {
    margin: 30px;
    max-width: 95vw;
    padding: 0;
    margin-bottom: 0;
}

.red {
    background-color: red;
    color: white;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.card {
    border: none;
    padding-left: 0;
}

#vertical-line {
    border-right: 1px solid #E5E5E5;
}

.card-body {
    padding-bottom: 0;
}

#weatherStats {
    padding: 20px;
}

.week-forecast {
    justify-content: space-between;
}

.hourly, #hourlyChart {
    height: 45vh;
}

@media only screen and (min-device-width: 1280px) {
    .hourly, #hourlyChart {
        height: 55vh;
    }
}
